manifest {
    homePage = 'https://github.com/IARCbioinfo/svaba-nf'
    description = 'Structural variation calling with SvABA'
    mainScript = 'svaba.nf'
}

profiles {
  docker { docker.enabled = true }
  singularity { singularity.enabled = true }
}

process {
    container = 'iarcbioinfo/svaba-nf'
    shell =  ['/bin/bash','-o','pipefail']
}

params.output_folder="."

timeline {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/svaba_timeline.html"
}

report {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/svaba_report.html"
}

trace {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/svaba_trace.txt"
}

dag {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/svaba_dag.html"
}
